<?php
header("Content-Type: text/css; charset=UTF-8", true);
header("Cache-Control: max-age=259200", true); // 3 days

define("ROOTDIR", "../");
define("REAL_ROOTDIR", "../");

define("NO_SESSION", true);

require_once REAL_ROOTDIR."src/initializer.php";
use \Catalyst\Color;
?>

.lighten-quarter {
  background-color: #<?= Color::lightenHex($_GET["hex"], 0.25) ?>;
}

.lighten-third {
  background-color: #<?= Color::lightenHex($_GET["hex"], 1/3) ?>;
}

.lighten-half {
  background-color: #<?= Color::lightenHex($_GET["hex"], 0.5) ?>;
}

.lighten-one {
  background-color: #<?= Color::lightenHex($_GET["hex"], 1) ?>;
}

.lighten-one-and-a-half {
  background-color: #<?= Color::lightenHex($_GET["hex"], 1.5) ?>;
}

.lighten-two {
  background-color: #<?= Color::lightenHex($_GET["hex"], 2) ?>;
}

a {
	color: #<?= $_GET["hex"] ?>;
}

.side-nav > li > a:hover, .side-nav > li > ul li:hover {
	background-color: #<?= Color::lightenHex($_GET["hex"], 0.5) ?>33;
}

.side-nav > li.active > a, .side-nav > li.active > ul {
	background-color: #<?= Color::lightenHex($_GET["hex"], 0.5) ?>55;
}

.social-chips .chip:focus {
  background-color: #<?= $_GET["hex"] ?>;
}

[type="checkbox"]:checked + span:not(.lever):before {
  border-right: 2px solid #<?= $_GET["hex"] ?>;
  border-bottom: 2px solid #<?= $_GET["hex"] ?>;
}

/* Indeterminate checkbox */
[type="checkbox"]:indeterminate + span:not(.lever):before {
  border-right: 2px solid #<?= $_GET["hex"] ?>;
}

[type="checkbox"].filled-in:checked + span:not(.lever):after {
  border: 2px solid #<?= $_GET["hex"] ?>;
  background-color: #<?= $_GET["hex"] ?>;
}

[type="checkbox"].filled-in.tabbed:checked:focus + span:not(.lever):after {
  background-color: #<?= $_GET["hex"] ?>;
  border-color: #<?= $_GET["hex"] ?>;
}

.switch label input[type=checkbox]:checked + .lever {
  background-color: #<?= Color::lightenHex($_GET["hex"], 1.5) ?>;
}

.switch label input[type=checkbox]:checked + .lever:after {
  background-color: #<?= $_GET["hex"] ?>;
}

.switch label .lever:before {
  background-color: rgba(<?= implode(",", Color::getRGB($_GET["hex"])) ?>, 0.15);
}

input[type=checkbox]:checked:not(:disabled) ~ .lever:active::before,
input[type=checkbox]:checked:not(:disabled).tabbed:focus ~ .lever::before {
  background-color: rgba(<?= implode(",", Color::getRGB($_GET["hex"])) ?>, 0.15);
}


.switch label input[type=checkbox]:checked + .lever::after, .user-color, nav, footer.page-footer,
.img-strict-circle[style*='/default.png");'], .img-strict-circle[style*="/default.png');"],
.img-strict-circle[style*='/default.svg");'], .img-strict-circle[style*="/default.svg');"],
.img-strict-circle[style*='/default.webp");'], .img-strict-circle[style*="/default.webp');"], picture.default-img, picture.default-img *,
[type="checkbox"].filled-in:checked + label:after,
[type="checkbox"].filled-in.tabbed:checked:focus + label:after, 
.progress .indeterminate, .progress .determinate, .btn-floating, button:focus, .btn:not(.chosen-color), .btn-large:not(.chosen-color) {
	background-color: #<?= $_GET["hex"] ?>;
}

.dropdown-content li:not(.disabled) > a, .dropdown-content li:not(.disabled) > span {
	color: #<?= $_GET["hex"] ?> !important;
}

[type="checkbox"]:checked + label:before {
  border-right: 2px solid #<?= $_GET["hex"] ?>;
  border-bottom: 2px solid #<?= $_GET["hex"] ?>;
}

[type="checkbox"]:indeterminate + label:before {
  border-right: 2px solid #<?= $_GET["hex"] ?>;
}

[type="checkbox"].filled-in:checked + label:after {
  border: 2px solid #<?= $_GET["hex"] ?>;
}

[type="checkbox"].filled-in.tabbed:checked:focus + label:after {
  border-color: #<?= $_GET["hex"] ?>;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid #<?= $_GET["hex"] ?>;
	-webkit-box-shadow: 0 1px 0 0 #<?= $_GET["hex"] ?>;
	box-shadow: 0 1px 0 0 #<?= $_GET["hex"] ?>;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
	color: #<?= $_GET["hex"] ?>;
}

.progress {
	background-color: #<?= Color::lightenHex($_GET["hex"], 2) ?>;
}

.btn:hover, .btn:focus, .btn-floating:hover, .btn-large:hover, .btn-large:focus {
	background-color: #<?= Color::lightenHexByPercent($_GET["hex"], 5) ?>;
}

blockquote {
	border-left: 5px solid #<?= $_GET["hex"] ?>;
}

.timepicker-digital-display {
  background-color: #<?= $_GET["hex"] ?>;
}

.timepicker-hours .timepicker-tick.active,
.timepicker-hours .timepicker-tick:hover {
  background-color: #<?= $_GET["hex"] ?>44;
}
.timepicker-canvas line {
  stroke: #<?= $_GET["hex"] ?>;
}
.timepicker-canvas-bearing, .timepicker-canvas-bg {
  fill: #<?= $_GET["hex"] ?>;
}
.timepicker-close {
  color: #<?= $_GET["hex"] ?>;
}

.datepicker-date-display {
  background-color: #<?= $_GET["hex"] ?>;
}

.datepicker-table td.is-today {
  color: #<?= $_GET["hex"] ?>;
}

.datepicker-table td.is-selected {
  background-color: #<?= $_GET["hex"] ?>;
}

.datepicker-day-button:focus {
  background-color: #<?= $_GET["hex"] ?>44;
}

.datepicker-cancel,
.datepicker-today,
.datepicker-done {
  color: #<?= $_GET["hex"] ?>;
}
