src/php/vendor

external_assets/profile_pictures/*
!external_assets/profile_pictures/default.png
!external_assets/profile_pictures/default.svg
!external_assets/profile_pictures/default.webp
!external_assets/profile_pictures/.htaccess

external_assets/commission_type_images/*
!external_assets/commission_type_images/default.png
!external_assets/commission_type_images/default.svg
!external_assets/commission_type_images/default.webp
!external_assets/commission_type_images/.htaccess

external_assets/character_images/*
!external_assets/character_images/default.png
!external_assets/character_images/default.svg
!external_assets/character_images/default.webp
!external_assets/character_images/.htaccess

external_assets/artist_images/*
!external_assets/artist_images/default.png
!external_assets/artist_images/default.svg
!external_assets/artist_images/default.webp
!external_assets/artist_images/.htaccess

internal_assets/patron_icons/*
!internal_assets/patron_icons/.empty

subl-project.sublime-workspace

.idea/
update.php

error_log

scripts/.emaillist
scripts/.htmlemail
scripts/.txtemail
scripts/PatronReport*.csv

scripts/tmp

src/js/dist
src/css/overall.min.css
.DS_Store
keys
