src/php/vendor

src/php/Secrets.php

internal_assets/profile_pictures/*
!internal_assets/profile_pictures/default.png
!internal_assets/profile_pictures/default.svg
!internal_assets/profile_pictures/default.webp
!internal_assets/profile_pictures/.htaccess

internal_assets/commission_type_images/*
!internal_assets/commission_type_images/default.png
!internal_assets/commission_type_images/default.svg
!internal_assets/commission_type_images/default.webp
!internal_assets/commission_type_images/.htaccess

internal_assets/character_images/*
!internal_assets/character_images/default.png
!internal_assets/character_images/default.svg
!internal_assets/character_images/default.webp
!internal_assets/character_images/.htaccess

internal_assets/artist_images/*
!internal_assets/artist_images/default.png
!internal_assets/artist_images/default.svg
!internal_assets/artist_images/default.webp
!internal_assets/artist_images/.htaccess

internal_icons/patron_icons/*
!internal_icons/patron_icons/.empty

subl-project.sublime-workspace

.idea/
update.php

error_log

scripts/.emaillist
scripts/.htmlemail
scripts/.txtemail
scripts/PatronReport*.csv

scripts/tmp

src/js/dist
src/css/overall.min.css
.DS_Store
