<If "%{REMOTE_ADDR} !='::1'">
	AuthType Basic
	AuthName "Approved testers only"
	AuthUserFile /home/catalyst/.htpasswd
	Require valid-user
</If>

<IfModule mod_speling.c>
	CheckCaseOnly on
	CheckSpelling on
</IfModule>

<IfModule mod_negotiation.c>
	Options -MultiViews
</IfModule>

<IfModule mod_php5.c>
	php_value upload_max_filesize 10M 
</IfModule>
<IfModule mod_php7.c>
	php_value upload_max_filesize 10M 
</IfModule>

Options -Indexes
