a.brand-logo {
	padding-left: 10px;
	padding-right: 10px;
}

label[data-error], label[data-success] {
	width: 100%;
}

.modal.modal-fixed-footer .modal-content {
	height: 100%;
}

.social-chips .chip {
	padding-right: 0;
}

.social-chips .chip i {
	padding-right: 8px;
}

.more-bottom-margin {
	margin-bottom: 1rem;
}

.discord-blurple {
	background-color: #7289DA;
}

.reddit-orangered {
	background-color: #ff4500;
}

.tumblr-blue {
	background-color: #2C4762;
}

.weasyl-murroon {
	background-color: #990000;
}

.shitty-youtube-red {
	background-color: #f00;
}

.chip i {
	cursor: pointer;
	float: right;
	font-size: 16px;
	line-height: 32px;
	padding-left: 8px;
}

nav a:hover {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.img-strict-circle {
	border-radius: 50%;
	background-size: cover;
}

.force-square-contents {
	position: relative;
	padding: 0 !important;
}

.force-square-contents::before {
	content: "";
	display: block;
	padding-top: 100%;
}

.force-square-contents > * {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

nav .img-strict-circle {
	width: 48px;
	height: 48px;
	margin-right: 12px;
}

.img-strict-circle {
	background-position: center center;
	display: inline-block;
	background-repeat:no-repeat;
}

.side-nav .img-strict-circle {
	width: 128px;
	height: 128px;
	margin-top: 2em;
}

.render-pixelated {
	image-rendering: pixelated;
	-ms-interpolation-mode: nearest-neighbor;
	-moz-image-rendering: crisp-edges;
}

.side-nav h5 {
	margin-bottom: 0;
}

.side-nav p {
	margin-top: 0;
}

a {
	font-weight: bolder;
}

header a {
	font-weight: initial;
}

.g-recaptcha.valid > div {
	border: 1px solid #4caf50;
}

.g-recaptcha.invalid > div {
	border: 1px solid #f44336;
}

.g-recaptcha.invalid::after {
	content: attr(data-error);
	font-size: 12px;
	color: #f44336;
}

input.invalid[type=checkbox][required]:not(:checked) + label + span.invalid-text {
	font-size: 12px !important;
	color: #f44336 !important;
	margin: 0;
	display: block;
}

input[type=checkbox] + label + span.invalid-text {
	display: none;
}

.no-top-margin {
	margin-top: 0 !important;
}

.no-margin {
	margin: 0 !important;
}

.color-field, .file-input-field {
	position: relative;
	cursor: pointer !important;
}

.color-field .file-input-path {
	margin-bottom: 0;
}

.color-field .color-input-wrapper, .file-input-field .file-input-path-wrapper {
	overflow: hidden;
	padding-left: 10px;
}

.color-field .btn,.color-field .btn-large,.file-input-field .btn,.file-input-field .btn-large {
	float: left;
	width: 6rem;
	height: 4rem;
	line-height: 4rem;
}

.file-input-field .btn input::-webkit-file-upload-button {
	display: none;
}

.file-input-field * {
	pointer-events: none;
}

.file-input-field .btn input {
	position: absolute;
	pointer-events: auto;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

.no-padding {
	padding: 0 !important;
}

.color-swatch {
	cursor: pointer;
}

@media only screen and (max-width: 600px) {
	.color-swatch {
		border: 0.3rem solid #fff;
		min-height: 3rem !important;
	}
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
	.color-swatch {
		border: 0.5rem solid #fff;
		min-height: 5rem !important;
	}
}

@media only screen and (min-width: 993px) {
	.color-swatch {
		border: 0.7rem solid #fff;
		min-height: 7rem !important;
	}
}

.warning {
	border: 1px solid #fbc02d;
	padding: 0.8em 1em 1em 1em;
	margin-top: 0.5em;
	border-radius: 0.5em;
	background-color: #fff9c4;
}

a {
	color: #1b5e20;
}

.user-color-darken-1 {
	background-color: #43a047;
}

.dropdown-content li:not(.disabled) > a, .dropdown-content li:not(.disabled) > span {
	color: #1b5e20 !important;
}

[type="checkbox"]:checked + label:before {
  border-right: 2px solid #1b5e20;
  border-bottom: 2px solid #1b5e20;
}
[type="checkbox"]:indeterminate + label:before {
  border-right: 2px solid #1b5e20;
}

[type="checkbox"].filled-in:checked + label:after {
  border: 2px solid #1b5e20;
  background-color: #1b5e20;
}

[type="checkbox"].filled-in.tabbed:checked:focus + label:after {
  background-color: #1b5e20;
  border-color: #1b5e20;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid #1b5e20;
	-webkit-box-shadow: 0 1px 0 0 #1b5e20;
	box-shadow: 0 1px 0 0 #1b5e20;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
	color: #1b5e20;
}

.progress {
	background-color: #b3c9b4;
}

.progress .indeterminate {
	background-color: #1b5e20;
}

.btn, .btn-large {
	background-color: #1b5e20;
}

.btn:hover, .btn-large:hover {
	background-color: #26662b;
}

blockquote {
	border-left: 5px solid #1b5e20;
}
