[Unit]
Description=Thumbnail images every 15 minutes from pending queue
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/var/www/beta.catalystapp.co/scripts
ExecStart=/usr/bin/php thumbnail-pending-queue.php
Restart=always

[Install]
WantedBy=multi-user.target
