[Unit]
Description=Thumbnail images every 15 minutes from pending queue
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/catalyst/beta/scripts
ExecStart=/usr/bin/php thumbnail-pending-queue.php
Restart=always

[Install]
WantedBy=multi-user.target
