parameters:
	excludes_analyse:
		- includes/vendor
		- includes/phpqrcode.php
	bootstrap: includes/phpstan-init.php
	ignoreErrors:
		- '/Class QRcode should be written with ::class notation, string found\./'
		- '/Constant PAGE_IMAGE not found\./'
		- '/incorrect case: getMIME/'
		- '/Catalyst\\Database\\CommissionType\\Wishlist/'
		- '/Call to static method test\(\) on an unknown class Catalyst\\Form\\Captcha\./'
		- '/Call to an undefined method callable::bindTo\(\)/'
		- '/Call to an undefined method Catalyst\Form\FormRepository::throwInvalidError/'
		- '/Using $this in static method Catalyst\Form\FormRepository::getNewCommissionTypeForm()/'
includes:
	- vendor/slam/phpstan-extensions/conf/slam-rules.neon
