parameters:
	excludes_analyse:
		- src/vendor
		- src/phpqrcode.php
		- scripts/
		- src/Form/FormPHP
	bootstrap: src/phpstan-init.php
	ignoreErrors:
		- '/Class QRcode should be written with ::class notation, string found\./'
		- '/Constant PAGE_IMAGE not found\./'
		- '/Catalyst\\Database\\CommissionType\\Wishlist/'
		- '/Call to an undefined method callable::bindTo\(\)/'
		- '/Call to an undefined method Catalyst\\Form\\FormRepository::throwInvalidError/'
		- '/Using \$this in static method Catalyst\\Form\\FormRepository::getNewCommissionTypeForm/'
		- '/Using \$this in static method Catalyst\\Form\\FormRepository::getEditCommissionTypeForm/'
		- '/Call to an undefined method Catalyst\\Database\\AbstractDatabaseModel::getImage(Set|)\(\)/'
includes:
	- vendor/slam/phpstan-extensions/conf/slam-rules.neon
