parameters:
	excludes_analyse:
		- src/vendor
		- src/phpqrcode.php
		- scripts/
		- src/Form/FormPHP
	bootstrap: src/phpstan-init.php
	fileExtensions:
		- php
		- css
		- js
	ignoreErrors:
		- '/Class QRcode should be written with ::class notation, string found\./'
		- '/Cannot call method bindTo\(\) on callable\./'
		- '/Call to an undefined method Catalyst\\Form\\FormRepository::throwInvalidError/'
		- '/Using \$this in static method Catalyst\\Form\\FormRepository::get(New|Edit)CommissionTypeForm/'
		- '/Parameter .+ expects string(, |\|).*string given./'
		- '/Parameter .+ expects string, string\|.* given./'
		- '/Parameter .+ expects string, .*(float|int) given./'
		- '/Variable \$_SESSION in isset\(\) always exists and is not nullable\./'
		- '/Parameter #1 \(array\) of echo cannot be converted to string\./'
		- '/Offset string does not exist on array.+/'
		- '/.+unsafe to use, rely on Symfony.+/'
		- '/.+nosuperglobals/'
